@import b3.vertical.fieldConstructor
@(loginForm: Form[(String, String)])(implicit messages: Messages)
@main("Login") {

<!-- LOGIN FORM -->
<div class="text-center" style="padding:50px 0">
  <div class="logo">login</div>
  <!-- Main Form -->
  <div class="login-form-1">
    @if(loginForm.hasErrors) {
      <ul>
      @for(error <- loginForm.errors) {
        <li>@Messages(error.messages, error.args)</li>
      }
      </ul>
    }
    <form id="login-form" class="text-left" action="@routes.Authentication.loginSubmit" method="post">
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          @b3.email( loginForm("username"), '_label -> "Email", 'placeholder -> "Enter email." )
          @b3.password( loginForm("password"), '_label -> "Password", 'placeholder -> "Enter password." )
          <div class="form-group login-group-checkbox">
            <input type="checkbox" id="lg_remember" name="lg_remember">
            <label for="lg_remember">remember</label>
          </div>
        </div>
        <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="etc-login-form">
        <p>forgot your password? <a href="#">click here</a></p>
        <p>new user? <a href="@routes.Authentication.register">create new account</a></p>
      </div>
    </form>
  </div>
  <!-- end:Main Form -->
</div>

}
